{% extends 'base.html.twig' %}

{% block title %}Objects list{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Objects list</h1>
    <ul>
        {% for object in objects %}
        <li>
            <a href="{{ path('app_object_download', {'bucket': bucket, 'key': object.Key}) }}">
                {{ object.Key }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
